<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Node List App</title>
</head>
<body>
    <header>
        <a class="header-logo">LIST</a>
      </header>
      <div class="container">
        <div class="container-header">
          <h1>Shopping List</h1>
        </div>
        <div class="index-table-wrapper">
          <div class="table-head">
            <span class="id-column">ID</span>
            <span>Item</span>
          </div>
          <!-- Define the items array -->
          
          
          <ul class="table-body">
            <!-- Delete the three <li> elements below -->
            <li>
              <span class="id-column">1</span>
              <span class="name-column">potatoes</span>
            </li>
            <li>
              <span class="id-column">2</span>
              <span class="name-column">carrots</span>
            </li>
            <li>
              <span class="id-column">3</span>
              <span class="name-column">onions</span>
            </li>
            <!-- Delete up to here -->
            
            <!-- Use forEach to print the elements of the items array -->
            
            
          </ul>
        </div>
      </div>
</body>
</html>